<a href="https://colab.research.google.com/github/ankushjauhari013/letsUpPyAS/blob/main/AnkushAssignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
mylist = ["ANkush", "JAuhaRi", "NEha", "KomAL","TanYa"]
print("My Original list is ==> ",mylist)
print("Length is ==> ", len(mylist))
mylist.append("KAtun")
print("Modified List is ==>", mylist)
mylist.sort()
print("Sorted List is ==>",mylist)
mylist.reverse()
print("Reversed List is ==>",mylist)

My Original list is ==>  ['ANkush', 'JAuhaRi', 'NEha', 'KomAL', 'TanYa']
Length is ==>  5
Modified List is ==> ['ANkush', 'JAuhaRi', 'NEha', 'KomAL', 'TanYa', 'KAtun']
Sorted List is ==> ['ANkush', 'JAuhaRi', 'KAtun', 'KomAL', 'NEha', 'TanYa']
Reversed List is ==> ['TanYa', 'NEha', 'KomAL', 'KAtun', 'JAuhaRi', 'ANkush']

In [39]:
mytupple = ("ANkush", "JAuhaRi", "NEha", "KomAL","TanYa")
print("My Original Tupple is ==> ",mytupple)
print("Length is ==> ", len(mytupple))
y= list(mytupple)
y.append("KAtun")
mytupple = tuple(y)
print("Modified Tupple is ==>", mytupple)
lo = mytupple.index("ANkush")
print("Ankush is at index in  Tupple is ==>",lo)

My Original Tupple is ==>  ('ANkush', 'JAuhaRi', 'NEha', 'KomAL', 'TanYa')
Length is ==>  5
Modified Tupple is ==> ('ANkush', 'JAuhaRi', 'NEha', 'KomAL', 'TanYa', 'KAtun')
Ankush is at index in  Tupple is ==> 0

In [40]:
myset = {"ANkush", "JAuhaRi", "NEha", "KomAL","TanYa"}
print("My Original set is ==> ",mylist)
print("Length is ==> ", len(myset))
myset.add("YoTo")
print("Modified set is ==>", myset)

My Original set is ==>  ['TanYa', 'NEha', 'KomAL', 'KAtun', 'JAuhaRi', 'ANkush']
Length is ==>  5
Modified set is ==> {'JAuhaRi', 'YoTo', 'TanYa', 'KomAL', 'ANkush', 'NEha'}

In [41]:
Dict = {'Tim': 18,'Joy':12,'Tuf':22,'Rob':25}   
print (Dict['Tuf'])
Boys = {'Tim': 18,'Joy':12,'Rob':25}
Girls = {'Tiffany':22}	
studentX=Boys.copy()
studentY=Girls.copy()
print("Dic x is", studentX)
print ("Dic y is",studentY)

print ("Length : %d" % len (Dict))
print ("printable string:%s" % str (Dict))

my_dict1 = {"username": "ABC", "email": "ABC@gmail.com", "location":"GHAZIABAD"}
my_dict2 = {"firstName" : "Ankush", "lastName": "Jauhari"}
my_dict1.update(my_dict2)

print("Merging Dict is ==> ", my_dict1)

22
Dic x is {'Tim': 18, 'Joy': 12, 'Rob': 25}
Dic y is {'Tiffany': 22}
Length : 4
printable string:{'Tim': 18, 'Joy': 12, 'Tuf': 22, 'Rob': 25}
Merging Dict is ==>  {'username': 'ABC', 'email': 'ABC@gmail.com', 'location': 'GHAZIABAD', 'firstName': 'Ankush', 'lastName': 'Jauhari'}

In [42]:
a = "anKush"
b = "JAUHARI"
c = "INFORMATION TECHNNOLOGY"
d = "SEmestER -4"
e = "ABseC"
k = "ankushjauhari013@gmail.com"
m = "A"


f = 9761661852
g = 1900320130026
h = 2019131049
i = 2019
j = 2023
L = 52021
print("a+b is ", a+b)
print("a in a", a in a)
print("==", a == b)

print("a>b", a > b)
print("a[5]", a[5])
print("a*5 is", a*5)
print("length of a is ==> ", len(a))
print("chr for num is", chr(L))
print("ASCII of A is", ord(m))

print("A.CAPAtalize is ", a.capitalize())
print("IS Alnum", a.isalnum())
print(a.join(b))
print(b.join(a))

print(" All Lower", a.islower())
print(a.swapcase())

x = 100
y = 50
z = 25
print(x,y,z)
x, y, z = z, x, y

print(x,y,z)

test_list = [4252, 6578, 3421, 6545, 6676]

res = [sub for sub in test_list if len(set(str(sub))) == len(str(sub))]

r = [4252]

print(len(set(str(r))))
print(len(str(r)))

a+b is  anKushJAUHARI
a in a True
== False
a>b True
a[5] h
a*5 is anKushanKushanKushanKushanKush
length of a is ==>  6
chr for num is ì¬µ
ASCII of A is 65
A.CAPAtalize is  Ankush
IS Alnum True
JanKushAanKushUanKushHanKushAanKushRanKushI
aJAUHARInJAUHARIKJAUHARIuJAUHARIsJAUHARIh
 All Lower False
ANkUSH
100 50 25
25 100 50
5
6